.search-input-container {
  .search-input {
    width: 400px;
    height: 45px;
    border-radius: 4px;
    font-size: 30px;
  }
}

.search-results-container {
  height: 400px;
  background: white;
}
